<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<h1>
		Discharge Report
	</h1>
	<br>
	<table class="table" id="risk-adjustment-criteria">
		<td>{{Key}}</td>
		<td>{{Value}}</td>
	</table>

	<br>

	<table class="table-bordered" id="fs-summaries">
		<tr>
			<th>Functional Status Measuers</th>
			<th>Intake Score</th>
			<th>Predicted Score<th>
			<th>Discharge Score</th>
		</tr>
		<tr>
			<td>Patient's Physical FS Primary Measure </td>
			<td>53</td>
			<td>65</td> 
			<td>47</td>
		</tr>
		<tr>
			<td>Risk Adjusted Statistical FOTO*</td>
			<td>43</td>
			<td></td>
		</tr>
	</table>

	<br>

	<table class="table-bordered" id="additional">
		<tr>
			<th>Additional Items</th>
			<th>Predicted Value</th>
			<th>FOTO Mean at Discharge</th>
			<th>Discharge Value</th>
		</tr>
		<tr>
			<td>Points Of Physical Change</td>
			<td>16</td>
			<td>12</td>
			<td>-6</td>
		</tr>
		<tr>
			<td>Visis</td>
			<td>11</td>
			<td>12</td>
			<td></td>
		</tr>
		<tr>
			<td>Duration In Days</td>
			<td>84</td>
			<td>96</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Satisfaction</td>
			<td>99.0%</td>
			<td>99.6%</td>
			<td>50.0%</td>
		</tr>
	</table>
</body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</html>