doctype html
html(lang="en")
  body
    h1 Discharge Report
    table
      thead
        tr
          th Criteria Type
          th Value
      tbody
        each criteria in Critera
          tr
            td=criteria.Key
            td=criteria.Value
    br
    table
      thead
        tr
          each header in FSTableHeader
            td=header
      tbody
        each summary in FSSummary
          tr
            each value in summary
              td=value
    br
    table
      thead
        tr
          td Name
          td Predicted
          td Final
      tbody
        each item in Additional
          tr
            td=item.Key
            td=item.Predicted
            td=item.Final